* {
    box-sizing: border-box;
}
.jumbotron {
   background-size: cover;
   padding-top: 20%;
   padding-bottom: 20%;
   justify-content: center;
   align-items: center;
    
}
.jumbotron h1 {
    position: relative;
    font-weight: 600;

}
#name {
    color: rgb(219, 78, 101);
    font-weight: 600;
}

.navbtn {
    
   display: inline-block;
   border: solid;
   border-color: rgb(219, 78, 101);;
   border-radius: 5px;
   list-style: none; 
   padding: 10px 32px;

   
}
nav li {
    font-weight: 700;
    color: #fff
}

.navbtn:hover{
  background-color: rgb(219, 78, 101);
  color: white;
}

.skills-container {
   margin-top:  -30px;
background-color: #d19592;
background-image: linear-gradient(315deg, #d19592 0%, #c81f70 74%);
}
.skills  {
    margin-top: 2rem;
    text-align: center;
    font-weight: 700;
}
.skills h2{
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
}



